stages:
  - lint
  - build
  - test

jobs:
  include:
    - stage: lint
      os: linux
      language: python
      python: 2.7.14
      before_install:
        - pip install flake8-putty==0.4.0
      before_script:
        - cd default/python
      script:
        - flake8
        - python -m compileall -q .
      env:
        - NAME="Lint Python script"
    - stage: build
      os: linux
      language: cpp
      addons:
        - postgresql: "9.6"
      services:
        - docker
      cache: ccache
      env:
        - NAME="Build FreeOrion"
      before_install:
        - mkdir -p $HOME/.ccache;
        - echo sloppiness = file_macro > $HOME/.ccache/ccache.conf
        - echo max_size = 200M >> $HOME/.ccache/ccache.conf
        - ccache --version
        - ccache --show-stats
        - psql -c 'CREATE DATABASE freeorion;' -U postgres
        - psql -U postgres freeorion < ${TRAVIS_BUILD_DIR}/.ci/freeorion.sql
        - docker pull freeorion/freeorion-travis-build
        - docker run --name freeorion-psql freeorion/freeorion-travis-build /bin/bash -c "apt-get update --assume-yes && apt-get install --assume-yes python-psycopg2 && mkdir -p /root/.config/freeorion/ && echo host=localhost user=postgres dbname=freeorion > /root/.config/freeorion/db.txt"
        - docker commit freeorion-psql freeorion-travis-build-psql
        # Add transparent cmake function to allow possible cross platform use of
        # build sections.
        # mount ccache dir and set its environment variable
        # timeout before Travis kills jobs so that ccache is always at least partially populated
        - >
          function cmake {
              docker run -v "${TRAVIS_BUILD_DIR}:/freeorion"  -v "${HOME}/.ccache:/ccache_dir" -e CCACHE_DIR='/ccache_dir' -w /freeorion/build freeorion-travis-build-psql timeout 40m /usr/bin/cmake $@
          }
        - >
          function cmake-local {
              docker run --network="host" -v "${TRAVIS_BUILD_DIR}:/freeorion"  -v "${HOME}/.ccache:/ccache_dir" -e CCACHE_DIR='/ccache_dir' -e CTEST_OUTPUT_ON_FAILURE=1 -w /freeorion/build freeorion-travis-build-psql timeout 40m /usr/bin/cmake $@
          }
      before_script:
        - git remote add -t master -m master upstream https://github.com/freeorion/freeorion.git
        - git fetch upstream
        - git log -1 upstream/master
        - mkdir build
        - cd build
      script:
        - git merge --no-commit upstream/master
        - cmake -DBUILD_HEADLESS=ON -DBUILD_TESTING=ON ..
        - cmake --build . -- -j 2
        - cmake-local --build . --target unittest
      before_cache:
        - ccache --clean
        - ccache --show-stats
        - export HOMEBREW_LOGS="~/homebrew-logs"
        - export HOMEBREW_TEMP="~/homebrew-temp"
    - stage: test
      os: linux
      language: python
      python: 2.7.14
      before_install:
        - pip install pytest==3.6.3
      script:
        - pytest
      env:
        - NAME="Pytest"
