stages:
  - lint
  - build
  - test

jobs:
  include:
    - stage: lint
      os: linux
      language: python
      python: 2.7.14
      before_install:
        - pip install flake8-putty==0.4.0
      before_script:
        - cd default/python
      script:
        - flake8
        - python -m compileall -q .
      env:
        - NAME="Lint Python script"
    - stage: build
      os: linux
      language: cpp
      services:
        - docker
      cache: ccache
      env:
        - NAME="Build FreeOrion"
      before_install:
        - mkdir -p $HOME/.ccache;
        - echo sloppiness = file_macro > $HOME/.ccache/ccache.conf
        - echo max_size = 200M >> $HOME/.ccache/ccache.conf
        - ccache --version
        - ccache --show-stats
        - docker pull freeorion/freeorion-travis-build
        # Add transparent cmake function to allow possible cross platform use of
        # build sections.
        # mount ccache dir and set its environment variable
        # timeout before Travis kills jobs so that ccache is always at least partially populated
        - >
          function cmake {
              docker run -v "${TRAVIS_BUILD_DIR}:/freeorion"  -v "${HOME}/.ccache:/ccache_dir" -e CCACHE_DIR='/ccache_dir' -w /freeorion/build freeorion/freeorion-travis-build timeout 40m /usr/bin/cmake $@
          }
      before_script:
        - git remote add -t master -m master upstream https://github.com/freeorion/freeorion.git
        - git fetch upstream
        - git log -1 upstream/master
        - mkdir build
        - cd build
      script:
        - git merge --no-commit upstream/master
        - cmake -DBUILD_HEADLESS=ON -DBUILD_TESTING=ON ..
        - cmake --build . -- -j 2
        - cmake --build . --target unittest
      before_cache:
        - ccache --clean
        - ccache --show-stats
    - stage: test
      os: linux
      language: python
      python: 2.7.14
      before_install:
        - pip install pytest==3.4.0
      script:
        - pytest
      env:
        - NAME="Pytest"
