<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <meta-data
            android:name="org.godotengine.plugin.v2.FreeOrion"
            android:value="org.freeorion.godot.FreeOrionPlugin" />
        <meta-data
            android:name="android.app.shortcuts"
            android:resource="@xml/shortcuts" />
    </application>
</manifest>
