[Unit]
Description=FreeOrion server
After=network.target

[Service]
User=freeorion
Group=freeorion
ExecStart=/usr/games/freeoriond --hostless --log-file /var/log/freeorion/freeoriond.log --mplobby-max-ai 3 --mplobby-min-human 2
RestartSec=5
Restart=on-failure
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
