[Unit]
Description=FreeOrion server
After=network.target postgresql@14-main.service
OnFailure=unit-status-freeorion@.service

[Service]
User=freeorion
Group=freeorion
Environment="XDG_CONFIG_HOME=/etc" "XDG_DATA_HOME=/var/lib/" "XDG_CACHE_HOME=/var/cache/"
ExecStart=/usr/lib/freeorion/freeoriond --hostless --resource.path /usr/share/games/freeorion/default --log-file /var/log/freeorion/freeoriond.log --ai-log-dir /var/log/freeorion/ --network.server.listen.fd 0
ExecStopPost=/bin/bash -c "D=$$(/bin/date \"+%%Y-%%m-%%dT%%H-%%M-%%S\") ; xz -z -Q -S .$$D.xz /var/log/freeorion/freeoriond.log"
RestartSec=20
Restart=on-failure
LimitCORE=infinity
StandardInput=socket

[Install]
WantedBy=multi-user.target
