[Unit]
Description=Unit Status Freeorion Service
After=network.target

[Service]
Type=simple
ExecStartPre=/bin/bash -c "D=$$(/bin/date \"+%%Y-%%m-%%dT%%H-%%M-%%S\") ; xz -z -Q -S .$$D.xz /var/log/freeorion/freeoriond.log"
ExecStartPre=/bin/bash -c "D=$$(/bin/date \"+%%Y-%%m-%%dT%%H-%%M-%%S\") ; xz -z -Q -S .$$D.xz /var/crash/*"
ExecStart=/usr/bin/curl http://localhost:8083/ -H "X-XMPP-To: o01eg@jabber.ru" -d "Achtung!"
