[Unit]
Description=Unit Status Freeorion Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/sendxmpp -f /etc/freeorion/xmpp.conf o01eg@jabber.ru Achtung!
